@{
    ViewData["Title"] = "Baseball Ready";
}

@*<div class="bg" style="background-image: url(/images/baseball-homeplate.jpg); background-position: center;" >
    <img src="~/images/baseball-homeplate.jpg" />
</div>*@

    <div style="position:relative;text-align:center;width:100%;" class="img-fluid">
        <img style="width:100%;height:100%;border-radius:35px;margin-bottom:50px;" src="~/images/baseball-homeplate.jpg" />
        @*<div style="position:absolute;top:15%;right:20%;"><h1 class="display-3" style="color: #f0e1d1; text-shadow: 2px 2px #CC0000;">BATTER UP</h1></div>*@
        <div style="position:absolute;top:30%;right:15%;"><img src="~/images/batter-up-script.png" /></div>
        <div class="row">
            <div class="col-md-6" style="text-align: left;">
                <h2>Batting Statistics</h2>
                <blockquote>
                    With BATTER UP parents have a record of each time a player comes to the plate. Statistics for each time at bat,
                    strikes, hits, walks, etc. can be entered.
                </blockquote>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <h2>Fielding Statistics</h2>
                <blockquote>
                    The action continues in the outfield. BATTER UP also stores a player's assists or errors,
                    putouts and even an exciting double play
                </blockquote>
            </div>
        </div>
        @*<div style="height:5rem;position:absolute;top:15%;left:50%;transform:translate(-50%,-50%);width:65%;" class="rounded"><h1 style="font-size:3rem;font-family:Exo;color:#001201;" class="mb-0">Welcome back!</h1></div>*@
    </div>
    @*<div class="jumbotron">
        <h1 class="display-3" style="color:#f0e1d1">Batter Up!</h1>
        <p class="lead" style="color:whitesmoke;">An web application for parents to keep track of a son or daughter's game statistics throughout a season</p>
        <hr class="my-4">
        <p style="color:whitesmoke;">With BATTER UP parents have a record of each time a player comes to the plate. Statistics for each time at bat,
            strikes, hits, walks, etc. can be entered.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>*@





