@model baseballStatistics.Models.FieldingStats

@{
    ViewData["Title"] = "Edit";
}

<h2>Update Fielding Stat</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Player.FullName" class="control-label">Player</label>
                <input disabled asp-for="Player.FullName" class="form-control" asp-items="Player.FullName" />
            </div>
            <div>
                <input hidden asp-for="PlayerId" />
            </div>
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assist" class="control-label"></label>
                <input asp-for="Assist" class="form-control" />
                <span asp-validation-for="Assist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Error" class="control-label"></label>
                <input asp-for="Error" class="form-control" />
                <span asp-validation-for="Error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Putout" class="control-label"></label>
                <input asp-for="Putout" class="form-control" />
                <span asp-validation-for="Putout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoublePlay" class="control-label"></label>
                <input asp-for="DoublePlay" class="form-control" />
                <span asp-validation-for="DoublePlay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
